<article class="panel class-panel" {{#if group}} data-group="{{group}}" data-key="{{key}}" {{/if}}{{#if isHidden}} hidden{{/if}}>
    <h3>{{label}}</h3>
    {{#each classes}}
    {{> class-block}}
    {{/each}}
</article>