<header>
  <h2 class="section-title">Config</h2>
</header>
<div class="cfg-opts">
  <div class="sgc">
    <div class="sg">
      <label>Talent</label>
      <select><option>- None -</option></select>
    </div>
    <div class="sg"></div>
  </div>
  <div class="sgc">
    <div class="sg">
      <label>Boon</label>
      <select><option>- None -</option></select>
    </div>
    <div class="sg">
      <label>Bane</label>
      <select><option>- None -</option></select>
    </div>
  </div>
  <div class="sgc">
    <div class="sg">
      <label>Parent</label>
      <select><option>- None -</option></select>
    </div>
    <div class="sg"></div>
  </div>
  <div class="sgc">
    <div class="sg">
      <label>Friendship (A+)</label>
      <select><option>- None -</option></select>
    </div>
    <div class="sg">
      <label>Partner (S)</label>
      <select><option>- None -</option></select>
    </div>
  </div>
</div>