include ../mixins/panels

header
  h2 Default Classes and Skills

section.three-column-grid
  +panelGroup(panels.classSet)
  +panelGroup(panels.talentClassSet)
  +panelGroup(panels.inheritedClassSet)

header
  h2 Partner/Friendship Seal Classes and Skills

section.three-column-grid
  +panelGroup(panels.partnerClassSet)
  +panelGroup(panels.friendshipClassSet)
